{% extends 'base.html' %} {% block content %}

<section class="hero has-text-left is-black">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                No organizations
            </h1>
            <h2 class="subtitle">
                You are not assigned to any organizations yet.
                <!-- A study date application for university students. -->
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column"></div>
        <div class="column is-one-third">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    <article class="tile is-child is-lightgreen-2 notification">
                        <p class="title">Join an organization</p>
                        <div class="content">
                            Join an already existing organization. Just click <strong>Join</strong> below.
                            This will require the approval of the organization head.
                        </div>
                        <a class="button is-fullwidth is-bold" href="{{url_for('org.join')}}">Join</a>
                    </article>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    <article class="tile is-child is-lightgreen-2 notification">
                        <p class="title">Create an organization</p>
                        <div class="content">
                            Create a new organization. Just click <strong>Create</strong> below. 
                            Note that approval of the new organization may take 2-3 days.
                        </div>
                        <a class="button is-fullwidth is-bold" href="{{url_for('org.create')}}">Create</a>
                    </article>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
    {% if user.organizations|length > 0 %}
    <div class="columns">
        <div class="column">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for association in user.organizations %}
                    <tr>
                        <th>{{ association.organization.id }}</td>
                        <td>{{ association.organization.name }}</td>
                        <td>{{ association.organization.email }}</td>
                        <td></td>
                        {% if association.organization.status == status.pending %}
                            <td>pending</td>
                        {% elif association.organization.status == status.approved %}
                            <td>approved</td>
                        {% else %}
                            <td>status</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}