<div id="modal-login" class="modal modal-slideInBottom">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Login</p>
            <button class="delete modal-button-close" aria-label="close"></button>
        </header>
        <form method="post" action="/login">
            {{ login_form.csrf_token }}
            <section class="modal-card-body">
                <div class="field">
                    <div class="control is-expanded has-icons-left">
                        {{ login_form.email(class_="input", id="login-email", placeholder="Email", type="email") }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded has-icons-left">
                        {{ login_form.password(class_="input", id="login-password", placeholder="Password") }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-full-width">
                <button class="button is-dark" name="login">Login</button>
            </footer>
        </form>
    </div>
</div>