<div id="modal-signup" class="modal modal-slideInBottom">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Sign-up</p>
            <button class="delete modal-button-close" aria-label="close"></button>
        </header>
        <form method="post" id="signup-form" onsubmit="return verify_then_submit()" action="/signup">
            {{ signup_form.csrf_token }}
            <section class="modal-card-body">
                <div class="field">
                    <div class="control is-expanded has-icons-left has-icons-right">
                        {{ signup_form.email(class_="input", id="signup-email", placeholder="Email", type="email") }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa" id="email-info-icon"></i>
                        </span>
                        <p class="help is-danger" id="email-info"></p>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded has-icons-left has-icons-right">
                        {{ signup_form.username(class_="input", id="signup-username", placeholder="Username") }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa" id="username-info-icon"></i>
                        </span>
                        <p class="help is-danger" id="username-info"></p>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded has-icons-left">
                        {{ signup_form.password(class_="input", id="signup-password", placeholder="Password") }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded has-icons-left">
                        {{ signup_form.confirm(class_="input", id="signup-confirm-password", 
                            placeholder="Confirm Password") }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded has-icons-left">
                        {{ signup_form.contact_number(class_="input", id="signup-num", 
                            placeholder="Contact Number", type="tel") }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-phone"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            {{ signup_form.tc_checkbox }} I agree to the <a href="#">terms and conditions</a>
                        </label>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <div class="field">
                    <div class="control">
                        <button class="button is-dark is-fullwidth" name="signup">Sign-up</button>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>

{% block script %}
<script>
    function verify_then_submit() {
        var username = document.getElementById("signup-username").textContent;
        var email = document.getElementById("signup-email").textContent;
        var submit = false;

        jQuery.ajax({
            url: "http://{{ request.host }}/verify?username=" + username + "&email=" + email,
            success: function (data) {
                if (data.email_available && data.username_available) {
                    submit = true;
                } else {
                    if (!data.email_available) {
                        document.getElementById("email-info").textContent = "This email is not available.";
                        document.getElementById("signup-email").classList.add("is-danger");
                        document.getElementById("email-info-icon").classList.add("fa-exclamation-triangle");
                    }

                    if (!data.username_available) {
                        document.getElementById("username-info").textContent = "This username is not available.";
                        document.getElementById("signup-username").classList.add("is-danger");
                        document.getElementById("username-info-icon").classList.add("fa-exclamation-triangle");
                    }
                    submit = false;
                }
            },
            async: false
        });
        return submit
    }
</script>
{% endblock %}