<div id="modal-signup" class="modal modal-slideInBottom">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Sign-up</p>
            <button class="delete modal-button-close" aria-label="close"></button>
        </header>
        <form method="post">
            <section class="modal-card-body">
                <div class="field">
                    <div class="control is-expanded has-icons-left has-icons-right">
                        <input class="input" type="email" name="email" id="signup-email" placeholder="Email" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded has-icons-left has-icons-right">
                        <input class="input" type="text" name="username" id="signup-username" placeholder="Username"
                            required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded has-icons-left">
                        <input class="input" type="password" name="password" id="signup-password" placeholder="Password"
                            required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded has-icons-left">
                        <input class="input" type="password" name="confirmpassword" id="signup-confirm-password"
                            placeholder="Confirm Password" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control is-expanded has-icons-left">
                        <input class="input" type="tel" name="num" id="signup-num" placeholder="Contact Number"
                            required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-phone"></i>
                        </span>
                    </div>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                    </label>
                </div>
            </section>
            <footer class="modal-card-foot">
                <div class="field">
                    <div class="control">
                        <button class="button is-dark is-fullwidth" name="signup">Sign-up</button>
                    </div>
                </div>
            </footer>
        </form>
    </div>
</div>