@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/MONTSERRAT-SEMIBOLD.TTF');
}

@font-face {
    font-family: Montserrat-Reg;
    src: url('../fonts/MONTSERRAT-REGULAR.TTF');
}

.spacing {
    padding-bottom: 15px;
}

.title-upper {
    text-transform: uppercase;
}

.title, .title-upper {
    font-family: Montserrat-Bold;
    letter-spacing: 2.16px;
}

.subtitle {
    font-family: Montserrat-Reg;
}

.content {
    text-align: justify;
}

/* BACKGROUND STYLES */
.is-bordered {
    border: 3px solid #5e5d5d;
}
.is-darkgreen {
    background-color: #133f29;
    color: white;
}
.is-lightgreen {
    background-color: rgb(70, 145, 88);
    color: white;
}
.is-lightgreen-2 {
    background-color: rgb(47, 95, 58);
    color: white;
}
.is-gray {
    background-color: #5e5d5d;
    color: #fff;
}
.is-darkgreen h2 {
    color: white;
}
.is-darkgreen h1 {
    color: white;
}

/* TEXT STYLES */
.is-white-text {
    color: white;
}
.is-bold {
    font-weight: bold;
}

/* CUSTOM STYLES */
.venue, .subject {
    background-color: #133f29;
    border-right:13px solid white;
}

.details p {
    margin-left: 5px;
}

.my-button{
    float: right;
    border-radius: 20px;
}

.my-button:hover{
    float: right;
    color: rgb(70, 145, 88);
}

.study img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 1%
}