<!doctype html>
<html class="has-navbar-fixed-top">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-fx.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Let's StudEEE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
    <script type=text/javascript src="{{url_for('static', filename='js/navbutton.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/modal-fx.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/file.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</head>

<body>
    {% include 'navbar.html' %}
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == 'error' %}
        <div class="notification is-danger has-text-centered">
            {{ message }}
        </div>
        {% else %}
        <div class="notification is-info has-text-centered">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
    {% block content %}{% endblock %}
</body>

</html>