<!doctype html>
<html class="has-navbar-fixed-top">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-fx.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Let's StudEEE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
    <script type=text/javascript src="{{url_for('static', filename='js/navbutton.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/modal-fx.min.js') }}"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="notification is-dark has-text-centered">
        {{ message }}
    </div>
    {% endfor %}
    {% block content %}{% endblock %}
</body>

</html>