{% extends 'base.html' %} {% block content %}

<section class="hero has-text-left is-darkgreen">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Let's StudEEE
            </h1>
            <h2 class="subtitle">
                Find study dates in your area.
                <!-- A study date application for university students. -->
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column">
            <p class="title has-text-centered title-upper">Announcements</p>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12 is-parent">
                    <article class="tile is-child is-lightgreen is-bordered notification">
                        <p class="title">OK pre logged in ka na</p>
                        <p class="subtitle">by ikaw - 19 March 2020 11:45 PM</p>
                        <div class="content">
                            Aba, ayos ah.
                        </div>
                    </article>
                    <article class="tile is-child is-lightgreen is-bordered notification">
                        <p class="title">COVID-19 cases rise to 202</p>
                        <p class="subtitle">by admin - 19 March 2020 11:45 PM</p>
                        <div class="content">
                            Wala tayong magagawa diyan
                        </div>
                    </article>
                    <article class="tile is-child is-lightgreen is-bordered notification">
                        <p class="title">Tara WW</p>
                        <p class="subtitle">by digitalsirkeith - 20 March 2020 12:01 AM</p>
                        <div class="content">
                            Tinatamad ako ngayon eh
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="column">
            <p class="title has-text-centered title-upper">Venues and Promotions</p>
            <article class="panel">
                <p class="panel-heading is-lightgreen is-bordered">Jollibee</p>
                <a class="panel-block">Free Sundae</a>
                <a class="panel-block">Yum Borgar P50 off</a>
                <a class="panel-block">Free Coffee</a>
                <div class="panel-block">
                    <button class="button is-link is-outlined is-fullwidth">
                      View all Promotions
                    </button>
                  </div>
            </article>
            <article class="panel">
                <p class="panel-heading is-lightgreen is-bordered">Marga's Honesty Store</p>
                <a class="panel-block">Free Stick-O</a>
                <div class="panel-block">
                    <button class="button is-link is-outlined is-fullwidth">
                      View all Promotions
                    </button>
                  </div>
            </article>
        </div>
    </div>
</section>
{% endblock %}