{% extends 'base.html' %} {% block content %}
<section class="hero has-text-left is-black">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Let's StudEEE
            </h1>
            <h2 class="subtitle">
                Find study dates in your area.
                <!-- A study date application for university students. -->
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column">
            <p class="title has-text-centered">Announcements</p>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12 is-parent">
                    <article class="tile is-child is-dark notification">
                        <p class="title">COVID-19 cases rise to 202</p>
                        <p class="subtitle">by admin - 19 March 2020 11:45 PM</p>
                        <div class="content">
                            Due to the incompetence of the national government, the number of positive cases
                            of the novel corona virus rises to 202.
                        </div>
                    </article>
                    <article class="tile is-child is-dark notification">
                        <p class="title">Tara WW</p>
                        <p class="subtitle">by digitalsirkeith - 20 March 2020 12:01 AM</p>
                        <div class="content">
                            Tinatamad ako ngayon eh
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="column">
            <p class="title has-text-centered">Venues and Promotions</p>
            <article class="panel is-dark">
                <p class="panel-heading">Jollibee</p>
                <a class="panel-block">Free Sundae</a>
                <a class="panel-block">Yum Borgar P50 off</a>
                <a class="panel-block">Free Coffee</a>
                <div class="panel-block">
                    <button class="button is-link is-outlined is-fullwidth">
                      View all Promotions
                    </button>
                  </div>
            </article>
            <article class="panel is-dark">
                <p class="panel-heading">Marga's Honesty Store</p>
                <a class="panel-block">Free Stick-O</a>
                <div class="panel-block">
                    <button class="button is-link is-outlined is-fullwidth">
                      View all Promotions
                    </button>
                  </div>
            </article>
        </div>
    </div>
</section>
<div class="container">
</div>
{% endblock %}