<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <span class="icon">
                <i class="fa fa-book"></i>
            </span>
            <span>Let's StudEEE</span>
            <!-- <img src="{{ url_for('static', filename='favicon.png') }}" height="32"> -->
        </a>
        <a role="button" class="navbar-burger burger togg" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% if user.is_authenticated %}
            <div class="navbar-item field">
                <p class="control has-icons-right">
                    <input class="input" type="search" placeholder="Search...">
                    <span class="icon is-small is-right">
                        <i class="fa fa-search"></i>
                    </span>
                </p>
            </div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="navbar-end">
            <a href="{{ url_for('root.root') }}" class="navbar-item">
                <span class="icon">
                    <i class="fa fa-home"></i>
                </span>
                <span>Home</span>
            </a>
            <a href="{{ url_for('org.home') }}" class="navbar-item">
                <span class="icon">
                    <i class="fa fa-sitemap"></i>
                </span>
                <span>Organizations</span>
            </a>
            <a href="{{ url_for('study.home') }}" class="navbar-item">
                <span class="icon">
                    <i class="fa fa-users"></i>
                </span>
                <span>Study Sessions</span>
            </a>
            <a href="{{ url_for('forum.home') }}" class="navbar-item">
                <span class="icon">
                    <i class="fa fa-comments"></i>
                </span>
                <span>Forum</span>
            </a>
            {% if user.is_admin %}
            <a href="{{ url_for('admin.home') }}" class="navbar-item">
                <span class="icon">
                    <i class="fa fa-exclamation-triangle"></i>
                </span>
                <span>Admin</span>
            </a>
            {% endif %}
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link is-arrowless">
                    <span class="icon has-text-danger">
                        <i class="fa fa-bell"></i>
                    </span>
                    <span>
                        Notifications
                    </span>
                </div>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="#">
                        <span>
                            <span class="icon has-text-link">
                                <i class="fa fa-users"></i>
                            </span>
                            <strong>New Study Date</strong>
                            <br>
                            <span class="icon"></span>
                            digitalsirkeith has posted a new study session near you.
                        </span>
                    </a>
                    <a class="navbar-item" href="#">
                        <span>
                            <span class="icon has-text-primary">
                                <i class="fa fa-hourglass-start"></i>
                            </span>
                            <strong>Reminder</strong>
                            <br>
                            <span class="icon"></span>
                            You have an upcoming study session today at <strong>11:30 AM</strong>.
                        </span>
                    </a>
                    <a class="navbar-item" href="#">
                        <span>
                            <span class="icon has-text-success">
                                <i class="fa fa-users"></i>
                            </span>
                            <strong>Update</strong>
                            <br>
                            <span class="icon"></span>
                            airenucl123 joined your study session on <strong>CoE 134</strong>.
                        </span>
                    </a>
                    <a class="navbar-item" href="#">
                        <span>
                            <span class="icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <strong>See More</strong>
                        </span>
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                    {{user.username}}
                </div>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="{{url_for('changepw.root')}}">
                        <span class="icon has-text-link">
                            <i class="fa fa-lock"></i>
                        </span>
                        <span>Change Password</span>
                    </a>
                    <a class="navbar-item" href="#">
                        <span class="icon has-text-primary">
                            <i class="fa fa-user"></i>
                        </span>
                        <span>Profile</span>
                    </a>
                    <a class="navbar-item" href="#">
                        <span class="icon has-text-warning">
                            <i class="fa fa-cog"></i>
                        </span>
                        <span>Settings</span>
                    </a>
                    <a class="navbar-item" href="{{ url_for('auth.logout') }}">
                        <span class="icon has-text-danger">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary modal-button" data-target="modal-signup">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light modal-button" data-target="modal-login">
                        Log in
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</nav>