<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <span class="icon">
                <i class="fa fa-book"></i>
            </span>
            <span>Let's StudEEE</span>
            <!-- <img src="{{ url_for('static', filename='favicon.png') }}" height="32"> -->
        </a>
        <a role="button" class="navbar-burger burger togg" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="{{ url_for('root.root') }}" class="navbar-item">
                <span class="icon">
                    <i class="fa fa-home"></i>
                </span>
                <span>Home</span>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary modal-button" data-target="modal-signup">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light modal-button" data-target="modal-login">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>