{% extends 'base.html' %} {% block content %}

<section class="hero has-text-left is-darkgreen">
    <div class="hero-body">
        <div class="container">
            <h1 class="title title-upper">
                schedule a review
            </h1>
            <h2 class="subtitle">
                Schedule a review in this page
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <form class="form" method="POST">
                {{form.csrf_token}}
                <div class="field">
                    <span class="label-input">Subject Name</span>
                    <div class="control is-expanded">
                        {{form.name(class_="input-form", placeholder="Enter Name Here")}}
                    </div>
                </div>
                <div class="field">
                    <span class="label-input">Date</span>
                    <div class="control is-expanded">
                        {{form.name(class_="date-form")}}
                    </div>
                </div>
                <div class="field">
                    <span class="label-input">Venue</span>
                    <div class="control is-expanded">
                        {{form.name(class_="input-form", placeholder="Enter Venue Here")}}
                    </div>
                </div>
                <div class="field">
                    <span class="label-input">About the Review</span>
                    <div class="control is-expanded">
                        {{form.description(class_="textarea-form", placeholder="Enter description here")}}
                    </div>
                </div>
                <div class="field">
                    <button class="button is-darkgreen join">Submit</button>
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
</section>
{% endblock %}