{% extends 'base.html' %} {% block content %}

<section class="hero has-text-left is-black">
     <div class="hero-body">
          <div class="container">
               <h1 class="title">
                    Let's StudEEE
               </h1>
               <h2 class="subtitle">
                    Find study dates in your area.
                    <!-- A study date application for university students. -->
               </h2>
          </div>
     </div>
</section>

<section class="section study">
     <div class="columns">

          <div class="column">
               <div class="columns is-multiline is-mobile">
                    <div class="column is-two-thirds venue">
                         Jollibee
                    </div>
                    <div class="column has-text-centered subject">
                         CoE 134
                    </div>
                    <div class="column is-one-third">
                         <img src="img/test.jpg">
                    </div>
                    <div class="column is-two-thirds">
                         <article class="tile is-child is-lightgreen">
                              <div class="details">
                                   <p class="description">
                                        Description <br><br><br>
                                   </p>
                                   <p class="organizers">
                                        Date: Apr. 1, 2020 <br>
                                        Organizer: UP Circuit
                                   </p>
                              </div>
                              <button class="button is-darkgreen join">Join</button>
                         </article>
                    </div>
               </div>

               <br>

               <div class="columns is-multiline is-mobile">
                    <div class="column is-two-thirds venue">
                         VLC
                    </div>
                    <div class="column has-text-centered subject">
                         EEE 43
                    </div>
                    <div class="column is-one-third">
                         <img src="img/test.jpg">
                    </div>
                    <div class="column is-two-thirds">
                         <article class="tile is-child is-lightgreen">
                              <div class="details">
                                   <p class="description">
                                        Description <br><br>
                                   </p>
                                   <p class="organizers">
                                        Date: Apr. 21, 2020 <br>
                                        Organizer: IIEE
                                   </p>
                              </div>
                              <button class="button is-darkgreen join">Join</button>
                         </article>
                    </div>
               </div>
          </div>

          <div class="column">
               <div class="columns is-multiline is-mobile">
                    <div class="column is-two-thirds venue">
                         EEEI 3rd Floor QZ
                    </div>
                    <div class="column has-text-centered subject">
                         CoE 141
                    </div>
                    <div class="column is-one-third">
                         <img src="img/test.jpg">
                    </div>
                    <div class="column is-two-thirds">
                         <article class="tile is-child is-lightgreen">
                              <div class="details">
                                   <p class="description">
                                        Description <br><br>
                                   </p>
                                   <p class="organizers">
                                        Date: May 3, 2020 <br>
                                        Organizer: UP IECEP
                                   </p>
                              </div>
                              <button class="button is-darkgreen join">Join</button>
                         </article>
                    </div>
               </div>

               <br>

               <div class="columns is-multiline is-mobile">
                    <div class="column is-two-thirds venue">
                         Jollibee
                    </div>
                    <div class="column has-text-centered subject">
                         CoE 113
                    </div>
                    <div class="column is-one-third">
                         <img src="img/test.jpg">
                    </div>
                    <div class="column is-two-thirds">
                         <article class="tile is-child is-lightgreen">
                         <div class="details">
                              <p class="description">
                                   Description <br><br>
                              </p>
                              <p class="organizers">
                                   Date: Apr. 5, 2020 <br>
                                   Organizer: IEEE Student Branch
                              </p>
                              </div>
                              <button class="button is-darkgreen join">Join</button>
                         </article>
                    </div>
               </div>
          </div>

     </div>
</section>  

{% endblock %}